/*Desktop Navigation*/
.navDesktop {
  background-color: #D2FFCF;
  width: 100%;
  border-radius: 12px;
}

.navDesktop ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F5A6D5;
  position: fixed;
  width: 100%;
  border-radius: 5px;
}

.navDesktop ul li {
  float: right;
}

.navDesktop ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

.navDesktop ul li a:hover {
  background-color: #ac7697;
  border-radius: 5px;
}


/* mobile Navigation */
.navMobile {
  overflow: hidden;
  background-color: #333;
  position: relative;
  margin-bottom: 5px;
}

.navMobile #seitenLinks {
  display: none;
}

.navMobile a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.navMobile a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.navMobile a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #F5A6D5;
  color: white;
}


/* footer  */
footer {
  text-align: left;
  padding: 3px;
  background-color: #333;
  color: white;
  bottom: 0;
  width: 100%;
}

/* content  */
body {
  background-color: #D2FFCF;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

#index{
  text-align: center;
}

#catGif{
  width: 400px;
}

#index h1{
  font-size: 5rem;
  margin-bottom: 10px;
}

#inhaltsverzeichnis h1{
  margin-bottom: 10px;
  margin-top: 50px;
}

h1{
  text-align: center;
}

h2{
  color: #333;
}

#inhaltsverzeichnis{
  text-align: center;
}

.boxInhalt{
  display: flex;
  justify-content: space-around;
}

p{
  color: black;
}

.boxInhalt a div{
  display: flex;
  background-color: #F5A6D5;
  width: 250px;
  height: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
  
}

a{
  text-decoration: none;
  margin: auto;
}

#imgNotes{
  height: 500px;
}



.seitenInhalt{
  padding-top: 50px;
}

.beschreibung{
  background-color: #9CF595;
  padding: 1%;
  border-radius: 10px;
  border: 3px #3EA637 dotted;
  margin-top: 10px;
  margin-bottom: 10px;
  width: auto;
}

.aufgabe{
  padding: 2%;
}

.aufgabeGrp{
  display: grid;
  grid-template-columns: 33% 66%;
}

.verzeichnisse{
  display: flex;
  justify-content: center;
}

.quellenBox{
  margin: 10px;
  background-color: #9CF595;
  border: 3px #3EA637 dotted;
  padding: 1%;
  border-radius: 10px;
}

.quellenBox h2{
  margin-top: 0px;
}

.quellen{
  text-align: center;

}

table, th, td{
  border: 2px solid #333;
  border-collapse: collapse;
  padding: 5px;
}

table{
  margin: 10px;
}

td{
  word-wrap:break-word;
}

.wrapper{
  flex-wrap: wrap;
}

.trenner{
  border-top: bold #333 3px ;
}

/*Bilder*/
#img1{
  width: 200%;
  height:fit-content;
}

#img2{
  width: 200%;
  height:fit-content;  
}

/* media queries  */

/*Smartphone*/
@media (max-width: 970px) {
  .navDesktop {
    display: none;
  }

  .navDesktop ul li {
    display: none;
  }

  .seitenInhalt{
    padding-top: 0;
  }

  .aufgabeGrp{
    display: flex;
    flex-wrap: wrap;
  }

  .gehMitte{
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 840px) {
  .boxInhalt{
    flex-wrap: wrap;
  }
  .verzeichnisse{
    flex-wrap: wrap;
    
  }
}

/*PC*/
@media (min-width: 970px) {
  .navMobile {
    display: none;
  }
}

